{% extends '@app/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="text-center p-4 border-top">
        Rappel : ceci est un démo. Les données sont remises à zéro chaque nuit à 5h du matin (heure de Paris)
    </div>
{% endblock %}