{% extends '@app/welcome.html.twig' %}

{% block main_content %}

	<section class="main-content process-claim">

		{% if is_regular_loot_user() %}
			<p>Bienvenue {{ app.user.name }}</p>
			<p>
				A vous de jouer et de tester tout ce que vous pouvez faire pour gérer un budget contributif.
			</p>
			<p>
				<a target="_blank" href="https://loot-project.gitlab.io/userguide/doc/getting-started/first-budget.html">Lire la documentation pour bien démarrer</a>
			</p>
		{% else %}
			<p>Bienvenue root</p>
			<p>Pour tester la gestion de budget vous devez créer un compte de contributeur puis vous connectez sur ce compte</p>
			<p>
				<a href="{{ path('app_account_create') }}" class="btn btn-primary">Créer un compte de contributeur</a>
			</p>
		{% endif %}

	</section>

{% endblock %}