{% extends '@app/security/login.html.twig' %}

{% block login_app_title %}Loot Demo{% endblock %}

{% block login_screen %}
{{ parent() }}
<div class="container mt-4 border-top p-4">
    <h3>Comment utiliser la démo ?</h3>
    <p>Vous devez vous créer un compte de contributeur. Si vous ne disposez pas de ce compte ou si vous ne connaissez
       personne ayant créé un compte sur la démo qui pourrait vous créer un compte, vous devez alors vous le créer vous même
       en vous connectant en tant qu'administrateur (root)</p>
    <ul>
        <li>Nom d'utilisateur : <strong>root</strong></li>
        <li>Mot de passe : <strong>demo</strong></li>
    </ul>
    <p>Une fois connecté.e vous pourrez vous créer un compte de contributeur et tester la gestion de budgets contributifs.</p>
    <p>Le compte administrateur permet uniquement de gérer les contributeurs et d'effectuer des opérations de suppression
       de données. Vous ne pourrez pas tester la gestion de budget avec le compte root</p>
</div>
{% endblock %}